# Timezone
TZ=America/New_York

# Root domain for templated nginx routing
ROOT_DOMAIN=domain.com

# MicroBin authentication and privacy settings
MICROBIN_ADMIN_USERNAME=change-me-admin
MICROBIN_ADMIN_PASSWORD=change-me-admin-password
MICROBIN_PUBLIC_PATH=https://pb.tools.domain.com
MICROBIN_PRIVATE=true
MICROBIN_NO_LISTING=true
MICROBIN_EDITABLE=false
MICROBIN_DISABLE_TELEMETRY=true
MICROBIN_DISABLE_UPDATE_CHECKING=true
MICROBIN_LIST_SERVER=false
